@font-face {
  font-family: "Rubik-Medium";
  src: url(font/Rubik-Medium.ttf);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #eedada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  background-color: #7c9465;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  height: 50px;
  margin-top: -7px;
  font-family: "Rubik-Medium";
}

.container h1 a {
  color: black;
  text-decoration: none;
}

.nav {
  background-color: #7c9465;
  height: 70px;
  line-height: 70px;
  margin-top: -2.2em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 70px;
  margin: 0 10px;
  font-family: "Rubik-Medium";
}

label {
  margin: 0 40px 0 0;
  font-size: 30px;
  line-height: 70px;
  display: none;
  width: 30px;
}

#toggle {
  display: none;
}

footer {
  width: 100%;
  height: 5em;
  background-color: #bcc9b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .fb {
  height: 40px;
}

footer .insta {
  height: 40px;
}

footer .twitter {
  height: 40px;
}

.sousContainer {
  z-index: 0;
  margin-bottom: 10px;
}

.sousContainer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.sousContainer h3 {
  text-align: center;
  font-size: 15px;
  color: #7c9465;
}

.sousContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  list-style-type: none;
}

.sousContainer p {
  font-size: 0.9em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

@media only screen and (max-width: 414px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    display: none;
  }
  .menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 40px;
    font-size: 20px;
    border-bottom: 1px solid #7c9465;
    opacity: 0.9;
    width: 5.5em;
    background: #bcc9b1;
  }
  #toggle:checked + .menu {
    display: block;
  }
  .video iframe {
    width: 300px;
    height: 200px;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: baseline;
  }
}

@media only screen and (min-width: 414px) and (max-width: 834px) {
  .sousContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sousContainer h3 {
    font-size: 25px;
    font-weight: bold;
  }
  .sousContainer h4 {
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sousContainer p {
    font-size: 20px;
  }
  .sousContainer li {
    font-size: 20px;
  }
  .video iframe {
    width: 414px;
    height: 400px;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    height: 200px;
  }
}

@media only screen and (min-width: 834px) {
  .sousContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu a {
    font-size: 30px;
  }
  .sousContainer h3 {
    font-size: 45px;
    font-weight: bold;
  }
  .sousContainer h4 {
    font-size: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sousContainer p {
    font-size: 30px;
  }
  .sousContainer li {
    font-size: 30px;
  }
  .video iframe {
    width: 600px;
    height: 400px;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    height: 10em;
  }
}
/*# sourceMappingURL=style.css.map */